---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="If you want to know me better."
	pubDate={new Date('April 23 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
    My name is Jimi. I'm a curious and inquisitive person. I live in Japan and currently working as a pastor. I like to learn new things and explore the world. And this website, is part of it. I started to fiddle around with computer since young age, but recently I started to learn how to make website and so on. So, I would like to write whatever I like to write here. And by the way, I'm a cat lover.
	</p>

</Layout>
